:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}


.gallery {
    display: block;
    margin: 0 auto;
    margin-bottom: .725rem;
    width: 350px;
    height: 380px;

    @media screen and (min-width: 768px) {
        display: grid;
        max-width: 1200px;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-auto-rows: 280px;
        grid-gap: 12px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
    }
}

.gallery > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery > a ~ * img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.gallery__item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;

    box-shadow: -1px 1px 3px rgba(#aa6ede, 1), 1px -1px 3px rgba(#ffffff, 1);
    border-radius: 5px;
    transition: all 250ms ease-in-out;
    margin-bottom: .725rem;

    @media screen and (min-width: 768px) {
        margin: 0;
    }
}

.gallery__image:hover {
    transform: scale(1.03);
}

.gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin: 0;
}

.gallery__link {
    display: block;
    text-decoration: none;
    height: 100%;
    transition: all 250ms ease-in-out;
}

.gallery__link:hover {
    cursor: zoom-in;
}


.sl-wrapper .sl-image div.sl-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    padding: 10px;
    color: #61677c;
    text-shadow: 1px 1px 0 #fff;
    background: #d8e0ff;
    font-size: 1rem;
    text-align: center;
}

.sl-wrapper button.sl-close {
    color: #ffffff;
    text-shadow: 1px 1px 1px #3e3e3e;
}

.sl-wrapper .sl-navigation button .sl-prev,
.sl-wrapper .sl-navigation button .sl-next {
    color: #ffffff;
    text-shadow: 1px 1px 2px #3e3e3e;
}