.main-vimeo {
    overflow: hidden;
}

section {
    min-height: 100vh;
}

h1 {
    margin-bottom: 1.875rem;
    color: #61677c;
    text-shadow: 1px 1px 0 #fff;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; // 16:9 => 56.25%; /* 9/16 */
}

.video-wrapper iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
}