.stopwatch-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    // margin: 0 auto;
    padding: 12px;
    max-width: 100%;
    width: 600px;

}

.stopwatch-wrapper,
.stopwatch-wrapper--next {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 300px;
    padding: 3.125rem;
}

.stopwatch-wrapper--next {
    margin-bottom: 0;
}


.buttons-wrapper {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

button.pause,
button.stop,
button.start {
    // width: 82px;
    // height: 42px;
    width: calc($index * 4.2);
    height: calc($index * 2.8);
    border-radius: 8px;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: -0.3125rem -0.1125rem 1.25rem #fff, 0.3125rem 0.1125rem 1.25rem #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    transition: 0.05s ease;

    @include mobile {
        box-shadow: -0.3125rem -0.3125rem 1.25rem #fff, 0.3125rem 0.3125rem 1.25rem #babecc;
    }
}

button.pause:hover,
button.stop:hover,
button.start:hover {
    box-shadow: -0.0313rem -0.0313rem 0.125rem #fff, 0.0313rem 0.0313rem 0.125rem rgba(83, 8, 8, 0.8);
    text-shadow: -0.0313rem -0.0313rem 0rem #baa2c5, 0.0313rem 0.0313rem 0rem #ffffff;
}

button.pause:active,
button.stop:active,
button.start:active {
    box-shadow: -0.0313rem -0.0213rem 0.125rem #fff, 0.0313rem 0.0313rem 0.125rem rgba(83, 8, 8, 0.8);
    text-shadow: -0.0313rem -0.0313rem 0rem #baa2c5, 0.0313rem 0.0313rem 0rem #ffffff;
}

button.pause,
button.stop,
button.start,
.stopwatch,
.stopwatch-next {
    color: #f1ebe5;
    text-shadow: 0 .15rem .1125rem #baa2c5;
    font-size: calc($index * 1.2);
    font-weight: 700;

    @include mobile {
        text-shadow: 0 .0625rem .0625rem #a689b3, 0 -0.0625rem .0625rem #fff;
        letter-spacing: .0938rem;
    }
}

button.pause,
button.stop,
button.start {
    color: #cfc5d4;
    // color: #dbe2fc;
    font-size: calc($index * .8);
    text-shadow: 0 .0225rem .0225rem #a689b3, 0 -0.0625rem .0625rem #fff;
    letter-spacing: .1938rem;

    @include mobile {
        letter-spacing: .0938rem;
    }
}

.stopwatch,
.stopwatch-next {
    max-width: 500px;
    word-wrap: break-word;

}

.time-now {
    position: fixed;
    top: 10px;
    right: 10px;
    color: #9e0202;
    text-shadow: 1px 1px 1px #fff;
    font-size: calc($index * .5);
    font-weight: 700;
    letter-spacing: .1938rem;
}