.pagination-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.wrapper,
.wrapper .img-area,
.social-icons a,
.buttons button {
    background: transparent;
    box-shadow: -3px -3px 7px #ffffff,
        3px 3px 5px #ceced1;
}

.wrapper {
    position: relative;
    width: 320px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper .icon {
    font-size: 17px;
    color: #31344b;
    position: absolute;
    cursor: pointer;
    opacity: 0.7;
    top: 15px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    font-size: 16px;
}

.wrapper .icon i {
    position: relative;
    z-index: 9;
}

.wrapper .img-area {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-area .inner-area {
    height: calc(100% - 25px);
    width: calc(100% - 25px);
    border-radius: 50%;
}

.inner-area img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.wrapper .name {
    font-size: 23px;
    font-weight: 500;
    color: #31344b;
    margin: 10px 0 5px 0;
}

.wrapper .about {
    color: #44476a;
    font-weight: 400;
    font-size: 16px;
}

.wrapper .social-icons {
    margin: 15px 0 25px 0;
}

.social-icons a {
    position: relative;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
}

.social-icons a:hover::before,
.wrapper .icon:hover::before,
.buttons button:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: #ecf0f3;
    box-shadow: inset -3px -3px 7px #ffffff,
        inset 3px 3px 5px #ceced1;
}

.buttons button:hover:before {
    z-index: -1;
    border-radius: 5px;
}

.social-icons a i {
    position: relative;
    z-index: 3;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 40px;
}

.social-icons a.fb i {
    color: #4267B2;
}

.social-icons a.twitter i {
    color: #1DA1F2;
}

.social-icons a.insta i {
    color: #E1306C;
}

.social-icons a.yt i {
    color: #ff0000;
}

.wrapper .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.buttons button {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 0;
    color: #31344b;
    font-size: 17px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
}

.buttons button:first-child {
    margin-right: 10px;
}

.buttons button:last-child {
    margin-left: 10px;
}

.wrapper .social-share {
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding: 0 5px;
    justify-content: space-between;
}

.social-share .row {
    color: #31344b;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

.social-share .row::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    background: #e0e6eb;
    margin-left: -25px;
}

.row:first-child::before {
    background: none;
}

.social-share .row i.icon-2 {
    position: absolute;
    left: 0;
    top: 50%;
    color: #31344b;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.row:nth-child(1):hover i.fa-heart,
.row:nth-child(2):hover i.fa-comment {
    opacity: 1;
    pointer-events: auto;
}


// !------- PAGINATION --------------------

#pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 1px 2px 4px 2px;
}

#pagination a {
    display: inline-block;
    vertical-align: middle;
    width: 38px;
    height: 32px;
    text-align: center;
    padding: 3px 0 2px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    &:hover {
        background: #ecf0f3;
        box-shadow: inset -3px -3px 7px #ffffff,
            inset 3px 3px 5px #ceced1;
    }
}

#pagination a {
    margin: 0 2px 0 2px;
    border-radius: 4px;
    border: none;
    outline: none;

    cursor: pointer;
    box-shadow: -3px -3px 7px #ffffff73,
        3px 3px 5px rgba(94, 104, 121, 0.288);

    text-shadow: 0 1px 1px #fff;
    background-color: transparent;
}


div.tui-pagination .tui-page-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: none;
    border-radius: 5px;

    width: 40px;
    height: 40px;
    color: #9e0202;
    text-shadow: .0625rem .0625rem .0625rem #fff;

    font-weight: 500;
    font-size: 17px;
    line-height: 1.33;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        background: #ecf0f3;
        box-shadow: inset -3px -3px 7px #ffffff,
            inset 3px 3px 5px #ceced1;
    }
}

div.tui-pagination .tui-is-selected,
div.tui-pagination strong {
    border: 1px solid #ffffff;
    background: #ecf0f3;
    box-shadow: inset -3px -3px 7px #ffffff,
        inset 3px 3px 5px #ceced1;
    color: #6f6cde;
    text-shadow: .0625rem .0625rem .0625rem #fff;
}

div.tui-pagination .tui-first-child.tui-is-selected {
    border-left: none;
}

div.tui-pagination .tui-last-child.tui-is-selected {
    border-right: none;
}

div.tui-pagination .tui-ico-next,
div.tui-pagination .tui-ico-last,
div.tui-pagination .tui-ico-prev,
div.tui-pagination .tui-ico-first,
div.tui-pagination .tui-ico-ellip {
    background-image: none;
}

div.tui-pagination .tui-page-btn.tui-next::after {
    content: '›';
    position: absolute;
    color: inherit;
    font-size: 25px;
    font-weight: 400;
}

div.tui-pagination .tui-page-btn.tui-last::after {
    content: '»';
    position: absolute;
    color: inherit;
    font-weight: 400;
    font-size: 25px;
}

div.tui-pagination .tui-page-btn.tui-prev::after {
    content: '‹';
    position: absolute;
    color: inherit;
    font-weight: 400;
    font-size: 25px;
}

div.tui-pagination .tui-page-btn.tui-first::after {
    content: '«';
    position: absolute;
    color: inherit;
    font-weight: 400;
    font-size: 25px;
}

div.tui-pagination .tui-prev-is-ellip::after,
div.tui-pagination .tui-next-is-ellip::after {
    content: '...';
    position: absolute;
    color: inherit;
    font-weight: 400;
    font-size: 20px;
}