.catalog-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    min-height: 20px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;

    background: rgba(120, 85, 218, 0.2);
    backdrop-filter: blur(.3125rem);

    @include tablet {
        min-height: 2.5rem;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-right: 20px;
    }
}

.catalog-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.catalog__nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.catalog-form__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.catalog-header__search-wrapper,
.catalog-ul {
    margin: 0;
    margin-left: 25px;
    padding: 0;
}

.catalog-header__search-wrapper {
    position: relative;
    right: 0;
    margin-right: 85px;

    width: 2.125rem;
    height: 2.125rem;
    border-radius: 3.125rem;
    background-color: transparent;

    cursor: pointer;
    transform-origin: 100% 50%;
    transition: 250ms ease;
    box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.1);

    &:hover {
        box-shadow: inset -1px -1px 1px white, inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    }

    &.focused {
        width: 280px;

        input {
            padding: 0 40px 0 13px;
            width: 100%;
            transform: scale(1);
        }
    }

    .catalog-header__input {
        background: transparent;
        border: 0;
        outline: none;

        height: 40px;
        width: 0;

        overflow: hidden;
        font-weight: 400;

        transform: scale(0);
        transform-origin: 0 50%;

        color: #9e0202;
        text-shadow: 1px 1px 1px #fff;
        transition: all 250ms ease-in-out;

        //box-shadow: -1px -1px 1px white, 1px 1px 1px rgba(0, 0, 0, 0.2);

        &::placeholder {
            color: #9e0202;
            text-shadow: 1px 1px 1px #fff;
            font-weight: 200;
        }
    }

    i {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: #9e0202;
        text-shadow: 1px 1px 1px #fff;
        font-size: 18px;

    }
}

.catalog-form {
    display: flex;
    align-content: center;
    justify-content: center;

    button {
        margin: 0;
        margin-left: 25px;
        background: transparent;
        border: none;
        outline: none;

        width: 3rem;
        height: 2rem;
        border-radius: 50%;
        background-color: transparent;

        cursor: pointer;
    }
}

// ---- gallery----------------

main {
    margin-top: 7rem;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

/* Main CSS */
.gallery > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.gallery__item-catalog:nth-child(2) {
    grid-column: span 2;
}

.gallery__item-catalog:nth-child(6n + 2) {
    grid-row: span 2;
}

.gallery__item-catalog:nth-child(3n + 2) {
    grid-row: span 2;
}

.gallery__item-catalog:nth-child(4n + 10) {
    grid-column: span 2;
    grid-row: span 2;
}



.gallery__item-catalog {
    position: relative;
    border-radius: 5px;
    box-shadow: -1px 1px 3px rgba(#aa6ede, 1), 1px -1px 3px rgba(#ffffff, 1);
}

.gallery__item-catalog:hover {
    transform: scale(1.01);
}

.gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.gallery__link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.gallery__link:hover {
    cursor: zoom-in;
}

.sl-wrapper .sl-image div.sl-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    padding: 10px;
    color: #61677c;
    text-shadow: 1px 1px 0 #fff;
    background: #d8e0ff;
    font-size: 1rem;
    text-align: center;
}

.sl-wrapper button.sl-close {
    color: #ffffff;
    text-shadow: 1px 1px 1px #3e3e3e;
}

.sl-wrapper .sl-navigation button .sl-prev,
.sl-wrapper .sl-navigation button .sl-next {
    color: #ffffff;
    text-shadow: 1px 1px 2px #3e3e3e;
}

.gallery__load-btn {
    display: flex;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    border: 0;
    outline: 0;
    border-radius: 320px;

    background-color: #e6eaff;
    text-shadow: 1px 1px 0 #fff;
    color: #9e0202;
    font-weight: 700;
    font: inherit;

    box-shadow: -1px -1px 1px #fff,
        1px 1px 1px #babecc;

    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
    }

    &:active {
        box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
    }

}

// ---- loading -----------------------------

.spinner {
    display: block;
    margin: 0 .5em;
    padding: .1em .3em;

    width: 1em;
    height: 1em;
    overflow: hidden;

    background-color: transparent;
    transition: all 0.3s ease, background-color 0.01s ease, color 0.01s ease;


    &.spinner--loading {
        padding: 0;
        width: 1.5em;
        height: 1.5em;
        animation: rotate 1.5s linear infinite;
        animation-delay: 200ms;
        background-color: transparent;
        border: 0.1em solid #ffffff;
        border-radius: 1.5em;
        border-top-color: #9e0202;
        box-sizing: border-box;
        color: transparent;

        pointer-events: none;

    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.is-hidden {
    display: none;
}